framework: >= net40
source https://nuget.org/api/v2

nuget FAKE

git https://github.com/ionide/FsAutoComplete.git cors build:"build.cmd LocalRelease", OS: windows
git https://github.com/ionide/FsAutoComplete.git cors build:"build.sh LocalRelease", OS: mono